@import '~leaflet/dist/leaflet.css';

#map { 
    height: 100vh; 
    .leaflet-container {
        height: 100vh;
        .leaflet-top {
            top: 80px;
        }
    }
}

.map-wrapp {
    .navbar {
        position: fixed;
        width:100%;
        z-index: 1000;
    }
}